#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#btn{
  background-color: lime;
}

.userlist{
  text-align: center;
  margin: auto;
}

.user{
  border: black solid 3px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  width: 400px;
}

img{
  width: 100px;
  height: 100px;
}